# **Food Delivery Dataset**

In [ ]:
import pandas as pd
import re
from google import colab as cl

'''Outra possibilidade...

from google.colab import drive

drive.mount('/content/drive')

df_raw = pd.read_csv('/content/drive/Mydrive/FTC - An√°lise de Dados/train.csv')'''


file_upload = cl.files.upload()

Saving train.csv to train.csv

In [ ]:
df = pd.read_csv( '/content/train.csv' )
df.head(2)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33

# `LIMPANDO O DATAFRAME`

In [ ]:
df1 = df.copy()

In [ ]:
# Tirando os espa√ßos da coluna 'ID' e 'Delivery_person_ID'

for i in range( len( df1 ) ):
    df1.loc[i, 'ID'] = df1.loc[i, 'ID'].strip()
    df1.loc[i, 'Delivery_person_ID'] = df.loc[i, 'Delivery_person_ID']


# Alterando 'Delivery_person_Age' de object para int

Delivery_person_Age = df1['Delivery_person_Age'] != 'NaN '

df1 = df1.loc[Delivery_person_Age, :]

df1['Delivery_person_Age'] = df1['Delivery_person_Age'].astype( int )


# Alterando 'Delivery_person_Ratings' de object para float

df1['Delivery_person_Ratings'] = df1['Delivery_person_Ratings'].astype( float )


# Alterando 'Order_Date' de object para datetime

df1['Order_Date'] = pd.to_datetime( df1['Order_Date'], format='%d-%m-%Y')


# Alterando 'Order_Date' de object para datetime

df1['Order_Date'] = pd.to_datetime( df1['Order_Date'], format='%d-%m-%Y')


# Alterando 'Time_Orderd' de object para timedelta

df1['Time_Orderd'] = df1['Time_Orderd'].str.replace(':', '').astype( float )

df1['Time_Orderd'] = pd.to_timedelta( df1['Time_Orderd'], unit='m')


# Alterando 'Time_Order_picked' de object para timedelta

df1['Time_Order_picked'] = df1['Time_Order_picked'].str.replace(':', '').astype( float )

df1['Time_Order_picked'] = pd.to_timedelta( df1['Time_Order_picked'], unit='m')


'''# Eliminando 'conditions NaN' da coluna 'Weatherconditions'

Weatherconditions = df1['Weatherconditions'] !='conditions NaN'

df1 = df1.loc[Weatherconditions, :]

df1['Weatherconditions'] = df1['Weatherconditions'].astype( object )'''


# Alterando 'multiple_deliveries' de object para int

multiple_deliveries = df1['multiple_deliveries'] != 'NaN '

df1 = df1.loc[multiple_deliveries, :]

df1['multiple_deliveries'] = df1['multiple_deliveries'].astype( int )


# Fun√ß√£o para remover caracteres n√£o num√©ricos e converter para float

def remove_nao_numericos_e_converte(valor):
    string_numerica = re.sub(r'\D', '', valor)
    return float(string_numerica)

'''Outra possibilidade...

df1 = df1.reset_index ( drop=True )
for i in range( len( df1 ) ):
    df.loc[i, 'Time_taken(min)' ] = re.findall( r'\d+', df.loc[i, 'Time_taken(min)'] )'''

df1['Time_taken(min)'] = df1['Time_taken(min)'].apply(remove_nao_numericos_e_converte)

# Alterando 'Time_taken(min)' de float para timedelta

df1['Time_taken(min)'] = pd.to_timedelta( df1['Time_taken(min)'], unit='m')

<ipython-input-5-39b99e816a96>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Delivery_person_Age'] = df1['Delivery_person_Age'].astype( int )
<ipython-input-5-39b99e816a96>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Delivery_person_Ratings'] = df1['Delivery_person_Ratings'].astype( float )
<ipython-input-5-39b99e816a96>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Order_Date'] = pd.to_datetime( df1['Order_Date'], format='%d-%m-%Y')
<ipython-input-5-39b99e816a96>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Order_Date'] = pd.to_datetime( df1['Order_Date'], format='%d-%m-%Y')
<ipython-input-5-39b99e816a96>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Time_Orderd'] = df1['Time_Orderd'].str.replace(':', '').astype( float )
<ipython-input-5-39b99e816a96>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Time_Orderd'] = pd.to_timedelta( df1['Time_Orderd'], unit='m')
<ipython-input-5-39b99e816a96>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Time_Order_picked'] = df1['Time_Order_picked'].str.replace(':', '').astype( float )
<ipython-input-5-39b99e816a96>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Time_Order_picked'] = pd.to_timedelta( df1['Time_Order_picked'], unit='m')

# ` DATAFRAME PARCIALMENTE LIMPO`

In [ ]:
df1.dtypes

ID                                      object
Delivery_person_ID                      object
Delivery_person_Age                      int64
Delivery_person_Ratings                float64
Restaurant_latitude                    float64
Restaurant_longitude                   float64
Delivery_location_latitude             float64
Delivery_location_longitude            float64
Order_Date                      datetime64[ns]
Time_Orderd                    timedelta64[ns]
Time_Order_picked              timedelta64[ns]
Weatherconditions                       object
Road_traffic_density                    object
Vehicle_condition                        int64
Type_of_order                           object
Type_of_vehicle                         object
multiple_deliveries                      int64
Festival                                object
City                                    object
Time_taken(min)                timedelta64[ns]
dtype: object

In [ ]:
df = df1.copy()

# 1. Qual o n√∫mero total de entregas cadastradas na base de dados?

In [ ]:
df.head(3)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,78 days 11:20:00,79 days 12:20:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,0 days 00:24:00
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,135 days 01:40:00,135 days 10:00:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,0 days 00:33:00
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,57 days 15:20:00,58 days 16:20:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,0 days 00:26:00

In [ ]:
df.loc[:, ['Delivery_person_ID'] ].count()

Delivery_person_ID    42805
dtype: int64

# 2. Qual o n√∫mero total de entregadores √∫nicos cadastrados na base de dados?

In [ ]:
#len( df['Delivery_person_ID'].unique() )

df.loc[:, ['Delivery_person_ID'] ].nunique()

Delivery_person_ID    1320
dtype: int64

# 3. Qual a idade do entregador mais velho? E do mais novo?

In [ ]:
#df.sort_values('Delivery_person_Age', ascending=False)
#df.iloc[0,2]
#df.iloc[-1,2]

print(df.loc[:, ['Delivery_person_Age'] ].max())
print(df.loc[:, ['Delivery_person_Age'] ].min())

Delivery_person_Age    50
dtype: int64
Delivery_person_Age    15
dtype: int64

# 4. Qual o ID do entregador com a maior idade? E o ID do entregador com a menor idade?

In [ ]:
df_aux = df.sort_values('Delivery_person_Age', ascending=False)
print( df_aux.iloc[0,1] )
print( df_aux.iloc[-1,1] )

KNPRES03DEL03
CHENRES03DEL02

# 5. Quais os nomes das condi√ß√µes clim√°ticas?

In [ ]:
df['Weatherconditions' ].unique()

array(['conditions Sunny', 'conditions Stormy', 'conditions Sandstorms',
       'conditions Cloudy', 'conditions Fog', 'conditions Windy',
       'conditions NaN'], dtype=object)

# 6. Quantas entregas foram realizadas sob condi√ß√µes clim√°ticas de tempestade de areia? ( Sandstorms )

In [ ]:
'''filter = df['Weatherconditions'] == 'conditions Sandstorms'

len( df.loc[filter, 'ID'] )'''

df.loc[ df['Weatherconditions'] =='conditions Sandstorms' ].shape[0]

7083

# 7. Quais eram as condic√µes clim√°ticas da data mais recente de entrega?

In [ ]:
df.head(2)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,78 days 11:20:00,79 days 12:20:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,0 days 00:24:00
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,135 days 01:40:00,135 days 10:00:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,0 days 00:33:00

In [ ]:
df_clima_entrega = df.sort_values('Order_Date', ascending=False)

print( df_clima_entrega.iloc[0, 11] )

conditions Windy

# 8. Quantos tipos de densidade de tr√¢nsito existem na base de dados? Quais os nomes delas?

In [ ]:
print( len( df.loc[:, 'Road_traffic_density'].unique() ) )
print( df.loc[:, 'Road_traffic_density'].unique() )

5
['High ' 'Jam ' 'Low ' 'Medium ' 'NaN ']

# 9. Quantas entregas foram feitas em cada condi√ß√£o clim√°tica?

In [ ]:
climas = df['Weatherconditions'].unique()

for delivery_clima in climas:
  qtd_entregas = df.loc[df['Weatherconditions'] == delivery_clima, :].shape[0]
  print(f"A quantidade de entregas do clima {delivery_clima} √© de: {qtd_entregas}")

A quantidade de entregas do clima conditions Sunny √© de: 6904
A quantidade de entregas do clima conditions Stormy √© de: 7226
A quantidade de entregas do clima conditions Sandstorms √© de: 7083
A quantidade de entregas do clima conditions Cloudy √© de: 7135
A quantidade de entregas do clima conditions Fog √© de: 7288
A quantidade de entregas do clima conditions Windy √© de: 7078
A quantidade de entregas do clima conditions NaN √© de: 91

# 10. Quantos entregadores √∫nicos fizeram entregas em cada condi√ß√£o clim√°tica?

In [ ]:
c_clima = df['Weatherconditions'].unique()

for conds_clima in c_clima:
  qtd_entregadores = len(df.loc[df['Weatherconditions'] == conds_clima, 'Delivery_person_ID' ].unique())
  print(f"A quantidade de entregadores √∫nicos √© de {qtd_entregadores} para cada condi√ß√£o clim√°tica do tipo {conds_clima}")

A quantidade de entregadores √∫nicos √© de 1233 para cada condi√ß√£o clim√°tica do tipo conditions Sunny
A quantidade de entregadores √∫nicos √© de 1234 para cada condi√ß√£o clim√°tica do tipo conditions Stormy
A quantidade de entregadores √∫nicos √© de 1239 para cada condi√ß√£o clim√°tica do tipo conditions Sandstorms
A quantidade de entregadores √∫nicos √© de 1246 para cada condi√ß√£o clim√°tica do tipo conditions Cloudy
A quantidade de entregadores √∫nicos √© de 1251 para cada condi√ß√£o clim√°tica do tipo conditions Fog
A quantidade de entregadores √∫nicos √© de 1230 para cada condi√ß√£o clim√°tica do tipo conditions Windy
A quantidade de entregadores √∫nicos √© de 87 para cada condi√ß√£o clim√°tica do tipo conditions NaN

# 11. Quantas entregas foram feitas em cada tipo de densidade de tr√¢nsito?

In [ ]:
densidade_transito = df['Road_traffic_density'].unique()

for traffic in densidade_transito:
  qtd_entregas1 = df.loc[df['Road_traffic_density'] == traffic, 'multiple_deliveries'].shape[0]
  print(f"A quantidade de entregas feitas √© de {qtd_entregas1} com densidade de tr√¢nsito do tipo {traffic}")

A quantidade de entregas feitas √© de 4212 com densidade de tr√¢nsito do tipo High
A quantidade de entregas feitas √© de 13480 com densidade de tr√¢nsito do tipo Jam
A quantidade de entregas feitas √© de 14605 com densidade de tr√¢nsito do tipo Low
A quantidade de entregas feitas √© de 10417 com densidade de tr√¢nsito do tipo Medium
A quantidade de entregas feitas √© de 91 com densidade de tr√¢nsito do tipo NaN

# 12. Quantos entregadores √∫nicos fizeram entregas em cada tipo de densidade de tr√¢nsito?

In [ ]:
den_tran = df['Road_traffic_density'].unique()

for densi_tran in den_tran:
  qtd_entregadores = len(df.loc[df['Road_traffic_density'] == densi_tran, 'Delivery_person_ID' ].unique())
  print(f"A quantidade de entregadores √∫nicos √© de {qtd_entregadores} para cada condi√ß√£o clim√°tica do tipo {densi_tran}")

A quantidade de entregadores √∫nicos √© de 787 para cada condi√ß√£o clim√°tica do tipo High
A quantidade de entregadores √∫nicos √© de 1306 para cada condi√ß√£o clim√°tica do tipo Jam
A quantidade de entregadores √∫nicos √© de 1310 para cada condi√ß√£o clim√°tica do tipo Low
A quantidade de entregadores √∫nicos √© de 1287 para cada condi√ß√£o clim√°tica do tipo Medium
A quantidade de entregadores √∫nicos √© de 87 para cada condi√ß√£o clim√°tica do tipo NaN

# 13. Quantas cidades √∫nicas existem na base? Quais s√£o os seus nomes?

In [ ]:
print(len(df['City'].unique()))
print(df['City'].unique())

4
['Urban ' 'Metropolitian ' 'Semi-Urban ' 'NaN ']

# 14. Quantos tipos de ve√≠culos √∫nicos existem na base?

In [ ]:
print(len(df['Type_of_vehicle'].unique()))
print(df['Type_of_vehicle'].unique())

4
['motorcycle ' 'scooter ' 'electric_scooter ' 'bicycle ']

# 15. Qual o tipo de ve√≠culo que mais fez entregas com a condi√ß√£o de tr√¢nsito pesado? "High"

In [ ]:
veiculos = df['Type_of_vehicle'].unique()
qtd_entregas2 = 0
tipo_veiculo = ''


for type_veiculos in veiculos:
  filter = (df['Type_of_vehicle'] == type_veiculos) & (df['Road_traffic_density'] == 'High ')

  filter_aux = df.loc[filter, :].shape[0]


  if qtd_entregas2 < filter_aux:
     qtd_entregas2 = filter_aux
     tipo_veiculo = type_veiculos

print(f"{tipo_veiculo} -> {qtd_entregas2}")

motorcycle  -> 2481

In [ ]:
 filter_aux = df.loc[filter, :].shape[0]
print(qtd_entregas2)

2481