# **`Food Delivery Dataset`**

# 1. Qual o valor da informação armazenada na linha 30 e na coluna 10?

In [ ]:
import pandas as pd
from google import colab as cl

In [100]:
file_upload = cl.files.upload()

Saving train.csv to train (1).csv

In [101]:
df =  pd.read_csv( '/content/train.csv' )

In [102]:
df.head(3)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26

In [103]:
df.iloc[ [30], [9] ]

   Time_Orderd
30    22:35:00

# 2. Selecione as linhas 0 a 20 e as colunas 0 a 2

In [106]:
df.iloc[0:21, [ 0, 1, 2] ]

         ID Delivery_person_ID Delivery_person_Age
0   0x4607     INDORES13DEL02                   37
1   0xb379     BANGRES18DEL02                   34
2   0x5d6d     BANGRES19DEL01                   23
3   0x7a6a    COIMBRES13DEL02                   38
4   0x70a2     CHENRES12DEL01                   32
5   0x9bb4      HYDRES09DEL03                   22
6   0x95b4   RANCHIRES15DEL01                   33
7   0x9eb2      MYSRES15DEL02                   35
8   0x1102      HYDRES05DEL02                   22
9   0xcdcd      DEHRES17DEL01                   36
10  0xd987      KOCRES16DEL01                   21
11  0x2784     PUNERES13DEL03                   23
12  0xc8b6     LUDHRES15DEL02                   34
13  0xdb64      KNPRES14DEL02                   24
14  0x3af3      MUMRES15DEL03                   29
15  0x3aab      MYSRES01DEL01                   35
16  0x689b     PUNERES20DEL01                   33
17  0x6f67      HYDRES14DEL01                   34
18  0xc9cf      KOLRES15DEL03                   21
19  0x36b8     PUNERES19DEL02                   25
20  0x5795   RANCHIRES06DEL02                   31

# 3. Seleciona as linhas 5 a 30 e a coluna **“Delivery_person_Age”**

In [105]:
df.iloc[5:31, [ 2 ] ]

   Delivery_person_Age
5                   22
6                   33
7                   35
8                   22
9                   36
10                  21
11                  23
12                  34
13                  24
14                  29
15                  35
16                  33
17                  34
18                  21
19                  25
20                  31
21                  37
22                  33
23                  25
24                  29
25                  27
26                  35
27                  32
28                  23
29                  31
30                  36

# **4. Selecione as linhas 40 a 42 e as seguintes colunas:**
*“Restaurant_latitude”,
“Restaurant_longitude”, "Delivery_location_latitude”,
“Delivery_location_longitude”*

In [ ]:
df.head(2)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33

In [ ]:
df.iloc[40:43, [ 4, 5, 6, 7 ] ]

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude
40,12.972532,77.608179,13.042532,77.678179
41,13.064181,80.236442,13.134181,80.306442
42,19.121999,72.908493,19.201999,72.988493

# 5. Qual a menor data de entrega da coluna “Order_Date” entre as linhas 0 a 50?

In [107]:
df.iloc[0:51, [ 8 ] ].min()

Order_Date    01-03-2022
dtype: object

# 6. Qual a menor data de entrega da coluna “ Time_Orderd ” entre as linhas 0 a 50?

In [ ]:
df.iloc[0:51, [ 9 ] ].min()

Time_Orderd    08:15:00
dtype: object

# **7. Quais os nomes únicos da coluna “City” entre as linhas 50 e 70?**

In [ ]:
df.iloc[ [50,70], [ 18 ] ]

              City
50  Metropolitian
70          Urban

# 8. Quais os nomes únicos da coluna “Weatherconditions” entre as linhas 0 e 10?

In [ ]:
df.iloc[ [ 0,10 ], [ 11 ] ]

    Weatherconditions
0    conditions Sunny
10  conditions Stormy

# 9. Quais os tipos de densidade de trânsito presente na coluna“Road_traffic_density ” entre as linhas 0 a 20?

In [ ]:
df.iloc[0:21, [ 12 ] ]

   Road_traffic_density
0                 High
1                  Jam
2                  Low
3               Medium
4                 High
5                  Jam
6                  Jam
7               Medium
8                  Jam
9                  Jam
10                High
11              Medium
12                 Low
13                 Jam
14                 Jam
15                High
16                 Jam
17                 Jam
18                 Jam
19                 Jam
20                 Low

# 10. Qual o ID do entregador de comida mais velho entre as colunas 50 e 70?

In [ ]:
df.head(2)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33

In [ ]:
df.iloc[ [50,70] , [ 0, 1, 2 ] ]

         ID Delivery_person_ID Delivery_person_Age
50  0x5554   RANCHIRES15DEL01                   31
70  0x8b53      SURRES11DEL01                   22

# 11. Qual o ID do entregador de comida com a melhor avaliação de entrega entre as colunas 50 e 70?

In [ ]:
df.iloc[ [ 50,70 ] , [0, 1, 3] ]

         ID Delivery_person_ID Delivery_person_Ratings
50  0x5554   RANCHIRES15DEL01                      4.9
70  0x8b53      SURRES11DEL01                      4.7

# **12. Quais os tipos de veículos utilizados pelos entregadores entre as linhas 0 a 30?**

In [ ]:
df.iloc[0:31, [-5] ]

      Type_of_vehicle
0         motorcycle
1            scooter
2         motorcycle
3         motorcycle
4            scooter
5         motorcycle
6            scooter
7         motorcycle
8         motorcycle
9         motorcycle
10        motorcycle
11           scooter
12        motorcycle
13           scooter
14  electric_scooter
15           scooter
16        motorcycle
17        motorcycle
18        motorcycle
19        motorcycle
20  electric_scooter
21        motorcycle
22           scooter
23        motorcycle
24  electric_scooter
25        motorcycle
26           scooter
27        motorcycle
28  electric_scooter
29        motorcycle
30        motorcycle

## **13. Quais os tipos de pedidos únicos que foram entregues entre as linhas 100 e 120?**

In [ ]:
df.head(2)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33

In [ ]:
df.iloc[ [ 100, 120 ], [ -6 ] ]

    Type_of_order
100        Snack
120        Snack